
<div class="center">
	<button class="btn btn-primary" id="findFlyers">Use my Location</button>
	<h5>Or</h5>
	<input type="text" class="form-group" id="postal" placeholder="Enter postal code"></input>
	<button class="btn btn-default" id="usePostalCode">Find By Postal Code</button>
	<h4>About ProjectYawHide</h4>
	<p>YawHide is a multi platform application.</p>
	<p>The goal of ProjectYawHide is to ultimately let its users save money by being able to sort and easily find the best deals in their local grocery flyers.</p>
	<p>ProjectYawHide only supports Sobeys for now, but in the very near future, it will support a lot more grocery stores. Canada only as well!</p>
	<h4>Authors</h4>
	<p>Stefan Rokitnicki-Wojcik</p>
	<p>Darren Spriet</p>
</div>
